<div class="index-page-padding"></div>
<h1 class="current-category"><%= params[:category] %></h1>

  <% if @books.count == 0 %>
  	<div class="well">  	
  		<h1 class="text-danger text-center">There are currently no books in this category</h1>
  	</div>
  	<center>
	  	<div>
	  		<img src="/sad.jpeg">	
	  	</div>
  	</center>
  <% else %>	

	<div class="row">  
		<% @books.each do |book| %>
		  <div class="col-md-3">	
		   <div><h4 class="text-primary index-title"><%= book.title %></h4></div>
			<a href="/books/<%= book.id %>">
			  <%= image_tag book.book_img.url(:book_index), class:"book" %> 
			</a>
		  </div>  
		<% end %>
	</div>	
  <% end %>	

